

.container{
    background-color: rgb(0, 0, 0);
    background-color: #E5DAD7;
    background-color: rgb(210, 197, 193);
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}


.bi.bi-three-dots-vertical{
    color: gray;
    font-size: 6.5vh; 
    height: 100%;
    margin-left: auto;
    cursor: pointer;
    position: absolute;
    right: 1%;
}

.bi.bi-image-fill{
    color: gray;
    font-size: 5vh; 
    height: 100%;
    
    cursor: pointer;
    
}

.bi.bi-geo-alt-fill{
    color: gray;
    font-size: 5vh; 
    height: 100%;
    
    cursor: pointer;
    
}

.bi.bi-mic-fill{
    color: gray;
    font-size: 5vh; 
    height: 100%;
    
    cursor: pointer;
    
}

.bi.bi-camera-reels-fill{
    color: gray;
    font-size: 5vh; 
    height: 100%;
    
    cursor: pointer;
    
}
.image-upload>input {
    display: none;
  }
.col-3{
    
}
.col-2{
    font-size: 3vh;
}
