*, ::after, ::before {
  box-sizing:border-box;
}
.chating{
  border: 2px solid lightgray;
  margin:2%;
  position:fixed;
  width: 96%;
  height:90%;
  overflow: hidden;
}

.my-user{
  height:10%;
  padding: 0;
  margin: 0;
  background-color:#B6AAAA;
}

.chatList {
  width: 100%;
  height:90%;
  list-style-type: none;
  float: left;
  overflow: hidden;
  overflow-y: scroll;
  overflow: hidden;
}

.messages {
  width:100%;
  height:90%;
  float: left;
  background-color: pink;
  overflow: hidden;
  
}


.text-send{
  height: 10%;
  position: absolute;
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 3px solid #8AC007;
}

.col-9{
  position: relative;
}

.chatList .row:hover{
  background-color: rgb(210, 197, 193);
  cursor: pointer;
  border: 0.3vh solid rgba(163, 170, 174, 0.968); 
}
.chatList .row{
  border: 2px solid lightgray;
}

.chatings{
  padding: 1%;
  height:80%; 
  overflow: hidden;
  overflow-y: scroll;
  background-color: aquamarine;
}




