.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}


.inner-rec-mess {
    position: absolute;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: aliceblue;
}

.record-message {

    display: flex;
    justify-content: center;

}

.record-message {
    height: 200px;
    position: relative;
    border: 3px solid green;
  }
  
  .inner-rec-mess {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }